{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Social Icons:
 *  - social_icons: array of links and appropriate fontawesome classes.
 *
 * Regions:
 * - page.top_header: Items for the top header region.
 * - page.bottom_header: Items for the bottom header region.
 * - page.search_form: Items for the navigation search form region.
 * - page.navigation: Items for the navigation region.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 * - page.footer_bottom: Items for the footer bottom region.
 *
 * @see template_preprocess_page()
 * @see degov_theme_preprocess_page()
 * @see html.html.twig
 */
#}

<header>

  {% if page.top_header or page.search_form %}
    <div class="top-header-wrapper">
      <div class="container">
        <nav class="navbar navbar-expand-sm d-flex">
          {{ page.top_header }}
          {% if social_icons %}
            <div class="d-none d-lg-inline-block d-xl-inline-block d-md-none">
              {% for social_icon in social_icons %}
              <a href="{{ social_icon['url'] }}" target="_blank" class="mr-2">
                <i class="{{ social_icon['font-awesome-classes'] }}"></i>
              </a>
              {% endfor %}
            </div>
          {% endif %}
          {% if page.search_form %}
            <div class="search-form-icon">
              <button type="button" class="bg-light-blue pr-3 pl-3">
                <i class="fas fa-search"></i>
              </button>
            </div>
          {% endif %}
        </nav>
        {% if page.search_form %}
          <div class="search-form-wrapper d-none">
            <div class="container">
              {{ page.search_form }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if page.bottom_header %}
    <div class="container d-none d-lg-block d-xl-block d-md-none">
      <nav class="bottom-header-wrapper mt-4 mb-4">
        {{ page.bottom_header }}
      </nav>
    </div>
  {% endif %}

  {% if page.navigation %}
    <div class="degov-navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-expand-lg degov-navbar">
          <a href="/" title="Home" rel="home" class="d-sm-inline-block d-md-inline-block d-lg-none d-xl-none navbar-brand site-logo">
            <img src="{{ logo_url }}" alt="Home">
          </a>
          {% if page.navigation %}
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{ page.navigation }}
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
  {% endif %}

</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {% if page.breadcrumb %}
    {{ page.breadcrumb }}
  {% endif %}
  <div class="row">
    <div class="col-sm-12">
      {{ page.content }}
    </div>
  </div>
</main>

{% if page.footer %}
  <footer class="site-footer mt-3">
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>
{% endif %}

{% if page.footer_bottom %}
  <div class="footer-bottom-wrapper pt-2 pb-2">
    <div class="container">
      {{ page.footer_bottom }}
    </div>
  </div>
{% endif %}
