{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
  'media',
  'media-person',
  'media-person--author',
  'clearfix',
]
%}
<article{{ attributes.addClass(classes)|without('role') }}>
  {{ content.contextual_links }}
  <div class="media-person__image"{{ content.field_person_image|quickedit_attr }}>{{ content.field_person_image|field_value }}</div>
  <div class="media-person__info"{{ content.field_person_info|quickedit_attr }}>{{ content.field_person_info|field_value }}</div>
  {% if content.field_tags|field_value %}
    <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
  {% endif %}
</article>
