{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
 #}
{% set media_classes = [
'image',
'image--full',
'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
    {{ content.contextual_links }}
    <div class="image__wrapper">
        <div class="image__image"{{ content.image|quickedit_attr }}>{{ content.image|field_value }}</div>
    </div>
    <div class="image__extra-info">
        <div class="media__type-label">{{ content.media_type_label }}</div>
        {% spaceless %}
            <div class="image__info outside">
                {% if content.field_image_caption|field_value %}
                    <div class="image__caption"{{ content.field_image_caption|quickedit_attr }}>{{ content.field_image_caption|field_value }}</div>
                {% endif %}
                {% if content.field_copyright|field_value and content.field_image_caption|field_value %}
                    <span>/</span>
                {% endif %}
                {% if content.field_copyright|field_value %}
                    <div class="image__copyright">
                        {{ content.field_copyright|field_value }}
                    </div>
                {% endif %}
            </div>
        {% endspaceless %}
        {% if content.download %}
            {{ content.download }}
        {% endif %}
        {% if content.field_subtitle %}
            <h2 class="image__subtitle"{{ content.field_subtitle|quickedit_attr }}>{{ content.field_subtitle|field_value }}</h2>
        {% endif %}
        <div class="image__date"{{ content.field_media_publish_date|quickedit_attr }}>
            {{ content.field_media_publish_date|field_value }}
        </div>
        {% if content.field_description %}
            <div class="image__description"{{ content.field_description|quickedit_attr }}>
                {{ content.field_description|field_value }}
            </div>
        {% endif %}
        {% if content.field_tags|field_value %}
            <div class="tags"{{ content.field_tags|quickedit_attr }}>
                {{ content.field_tags }}
            </div>
        {% endif %}
    </div>
</article>
