{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
 #}
{% set media_classes = [
  'image',
  'media--preview',
  'clearfix',
  'col-lg-9',
] %}
<article{{ attributes.addClass(media_classes) }}>
  {{ content.contextual_links }}
  <div class="media--preview__image-block col-xs-12 col-sm-8 no-padding">
    <div class="media--preview__type-text">
      {{ 'Bild'|t }}
    </div>
    <div class="image__image teaser-image"{{ content.image|quickedit_attr }}>
      {{ content.image|field_value }}
    </div>
    <div class="media--preview__info">
      <a href="{{ image_url }}" rel="bookmark">
        <div class="media--preview__ico"><i class="fa fa-camera" aria-hidden="true"></i></div>
        <div class="media--preview__linktext">Zum Bild</div>
      </a>
    </div>
  </div>
  <div class="media--preview__text-block col-xs-12 col-sm-4">
    <a href="{{ image_url }}" rel="bookmark">

      {% if content.field_media_publish_date|field_value %}
      <div class="image__date"{{ content.field_media_publish_date|quickedit_attr }}>
          {{ content.field_media_publish_date|field_value|render|striptags }}
      </div>
      {% endif %}

      <h2 class=""{{ content.field_title|quickedit_attr }}>
        {% set title = content.field_title|field_value|render|striptags %}
        {{- title|length > 40 ? title|slice(0, 40) ~ '...' : title -}}
      </h2>
    </a>
    <a href="{{ image_url }}" rel="bookmark">
      {% if content.field_description|field_value %}
        {% set text = content.field_description|render|striptags %}
        <div class="image_description">
          {{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}
        </div>
      {% endif %}
    </a>
    {% if content.field_tags|field_value %}
      <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
    {% endif %}
  </div>
</article>
