{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set media_classes = [
'media',
'media-gallery',
'media--preview',
'clearfix',
] %}
<article{{ attributes.addClass(media_classes) }}>
    {{ content.contextual_links }}
    <div class="media--preview__image-block col-xs-12 col-sm-6 no-padding">
        <div class="media--preview__type-text">{{ 'Galerie'|t }}</div>
        <div class="gallery__images teaser-image">
            <div class="slideshow__slides">
                {{ content.field_gallery_images|field_value|slice(0, 1) }}
            </div>
        </div>
        <a href="{{ gallery_url }}">
            <div class="media--preview__info">
                <div class="media--preview__ico"><i class="fa fa-camera" aria-hidden="true"></i></div>
                <div class="media--preview__linktext">Zur Bildgalerie</div>
            </div>
        </a>
    </div>
    <div class="media--preview__text-block col-xs-12 col-sm-6">
        <a href="{{ gallery_url }}">
            <div class="gallery__date"{{ content.field_media_publish_date|quickedit_attr }}>{{ content.field_media_publish_date|field_value }}</div>
            {% set title = content.field_title|field_value|render|striptags %}
            <h2 class=""{{ content.field_title|quickedit_attr }}>{{ title|length > 50 ? title|slice(0, 50) ~ '...' : title }}</h2>
            {% if content.field_description|field_value %}
                {% set text = content.field_description|render|striptags %}
                <div class="gallery__description">{{ text|length > 100 ? text|slice(0, 100) ~ '...' : text }}</div>
            {% endif %}
        </a>
        {% if content.field_tags|field_value %}
            <div class="tags"{{ content.field_tags|quickedit_attr }}>{{ content.field_tags }}</div>
        {% endif %}
    </div>
</article>
